/* Sets all font to Arial */
body{
    font-family: Arial;
}

/* Centers the headers */
.center {
    text-align: center;
}

/* Opacity of 50% for all points */
.point {
	opacity: 0.5;
}

/* Flexbox */
.flexbox {
    display: flex;
    flex-direction: row;
}

/* Each column takes a third of the webpage */
#column {
    flex:33%;
}

/* Brush design changes */
.brushed {
    border: orange;
    stroke: orange;
    stroke-width: 1.75px;
    opacity: 1;
}